<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811741030521-hu2npg8747euc3pucn18kcbkni6kp2f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811741030521-hu2npg8747euc3pucn18kcbkni6kp2f3</string>
	<key>API_KEY</key>
	<string>AIzaSyCBT2fABQ4X5Fw9602p2Hwv9I6jGrpWnI8</string>
	<key>GCM_SENDER_ID</key>
	<string>811741030521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevgiyle.huggingapp</string>
	<key>PROJECT_ID</key>
	<string>hugging-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hugging-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811741030521:ios:1dfc530f28ab3eab7d8ca8</string>
	<key>DATABASE_URL</key>
	<string>https://hugging-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>